<div class="row">
    <div class="col-6 offset-3">
        <form>
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name" class="form-control" [(ngModel)]="donor.name" required #name="ngModel">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" [(ngModel)]="donor.description" required #description="ngModel"></textarea>
            </div>
            <div class="form-group">
                <label for="date">Donation date</label>
                <ngb-datepicker #dp [(ngModel)]="donationDate" id="date" name="date" required #date="ngModel"></ngb-datepicker>
            </div>
            <div class="form-group">
                <label for="categories">Categories</label>
                <select name="category" id="category" class="form-control" multiple  [(ngModel)]="donor.categories" required #cat="ngModel">
                    <option [value]="category == 'donations' ? 'donation' : category" *ngFor="let category of categories">{{category | titlecase}} </option>
                </select>
            </div>
            <div class="form-group">
                <label for="value">Value</label>
                <input type="number" name="value" id="number" class="form-control" [(ngModel)]="donor.estimated_value" required #value="ngModel">
            </div>
            <button class="btn btn-primary float-right" type="submit" (click)="sendDonor()" [disabled]="name.invalid || description.invalid || date.invalid || cat.invalid || value.invalid">Submit</button>
        </form>
    </div>
</div>
